{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Indiquez votre nouveau mot de passe</h1>
        {{form_start(form)}}
            {{form_row(form.passwordOne)}}
            {{form_row(form.passwordBis)}}
            {{form_row(form.update)}}
        {{form_end(form)}}
    </div>
{% endblock %}