{% extends 'base.html.twig' %}

{# {% block title %}Hello CategorieController!{% endblock %}
{% block grosTitre %}Je suis un h1{% endblock %} #}

{% block body %}

    {# Nous permet de gérer et d'afficher les messages flash reçus par les controller #}
    <div class="alert">
        {% for type, messages in app.flashes %}
            <div class="alert-{{type}}">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <h1>Test</h1>
    {# {% if (categories|length > 0) %}
    <ul>
        {% for categorie in categories %}
            <li>{{categorie.name}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Il n'y a pas de catégories pour le moment</p>
    {% endif %} #}

{# 
    {% %} Permet d'utiliser les fonctionnalités de twig
    {{ }} Permet d'afficher une information sur la page
 #}
    <ul>
    {% for categorie in categories %}
        <li><a href={{ path('category_single', {id: categorie.id}) }}>{{categorie.name}}</a></li>
    {% else %}
        <li>Il n'y a pas de catégories pour le moment</li>
    {% endfor %}
    </ul>
{% endblock %}
